:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --color-de-fondo: #F5F5F5;
   --color-de-link: #464646;
}

body {
    box-sizing: border-box;
    background-color: var(--color-de-fondo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-de-link);
}